*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  /* paleta de cores uicolors: cor no input - #00ff9d */
  --clr-main-100: #d5ffef;
  --clr-main-300: #70ffc9;
  --clr-main-500: #00ff9d; 
  --clr-main-700: #00965c;
  --clr-main-800: #06754b;
  --clr-main-900: #076040;
  --clr-main-950: #003723;
}

body{
    background-color: #2e2e2e;
    font-family: "Poppins", sans-serif;
    color: #eaeaea;
}

/* estilos reutilizáveis início */
.flex-column{
  display: flex;
  flex-direction: column;
}

#highlighted-word{
    background-image: linear-gradient(to right, var(--clr-main-700), #00c072);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-weight: 600;
}

.btn{
  display: block;
  width: 10rem;
  margin-left: auto;
  padding: .5rem;
  background-color: var(--clr-main-500);
  border: 1.5px dashed var(--clr-main-800);
  color: var(--clr-main-950);
  cursor: pointer;
  transition: all .2s ease;
  font-size: clamp(.825rem, 2vw, 1rem);
  font-weight: 500;
}

.btn:hover{
  background-color: var(--clr-main-800);
  color: var(--clr-main-500);
  border: 1.5px solid var(--clr-main-500);
}
/* estilos reutilizáveis fim */

.main{
    width: min(70rem, 100% - .5rem * 2);
    padding: .75rem;
    margin-inline: auto;
    gap: 4rem;
}

.main header{
    gap: 1.75rem;
}

.main header h1{
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 500;
}

header .explanation{
    gap: 1rem;
    font-size: clamp(.825rem, 2vw, 1rem);
}

.main .calculation-area{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.calculation-area .operations-area{
  gap: 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  border: 2px solid var(--clr-main-700);
  background-color: var(--clr-main-100);
  color: var(--clr-main-950);
}

.operations-area h1{
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
}

.operations-area button{
  width: 100%;
}

.radio-input {
  gap: 1rem;
  font-size: clamp(.825rem, 2vw, 1rem);
  font-weight: 600;
  color: var(--clr-main-500);
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: .625rem .625rem .625rem .825rem;
  border: 1.5px solid var(--clr-main-500);
  background-color: var(--clr-main-900);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr-main-100);
  border: 2px solid var(--clr-main-500);
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: var(--clr-main-900);
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: var(--clr-main-300);
  color: var(--clr-main-950);
  border-color: var(--clr-main-800);
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.calculation-area .calculation{
  background-color: var(--clr-main-100);
  padding: 1.5rem;
  border-radius: .5rem;
  color: var(--clr-main-950);
  gap: 2rem;
  border: 2px solid var(--clr-main-700);
}

.calculation h1{
  text-align: center;
  font-size: clamp(1.0625rem, 2vw, 1.25rem);
  color: var(--clr-main-950);
  font-weight: 600;
}

.calculation .alerts{
  font-size: clamp(1rem, 2vw, 1.0625rem);
  font-weight: 500;
}

.calculation .inputs{
  gap: 1rem;
}

.inputs input[type="text"]{
  padding: .5rem 0 .5rem .25rem;
  border: 1.5px solid var(--clr-main-950);
  transition: .2s ease-in;
  font-size: clamp(.825rem, 2vw, 1rem);
}

.inputs input[type="text"]:focus{
  border: 1.5px solid var(--clr-main-500);
}

.calculation #result{
  margin-top: auto;
  font-size: 1.25rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

@media(max-width: 1045px){
  .calculation-area .operations-area,
  .calculation-area .calculation{
    width: 45rem;
  }
}